body {
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

a {
    text-decoration: none;
    color: inherit;
}
h2{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #262C40;
}
.fb{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #262C40;
    padding: 0;
    margin: 0;

}
.fg{
    padding: 0;
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8189A3;
}